:root {
  --body-background: white;
  --body-text: black;
  --btn-green: #4caf50;
  --btn-green-hover: #45a049;
  --btn-red: red;
  --btn-red-hover: rgb(171, 0, 0);
  --btn-red-clear: #ff67677c;
  --btn-red-clear-hover: rgb(171, 0, 0);
  --btn-yellow: yellow;
  --btn-yellow-hover: rgb(192, 192, 0);
  --clickable-blue: rgb(0, 149, 255);
  --clickable-blue-hover: blue;
  --input-background: #f7f8f9;
  --nav-background: rgba(255, 255, 255, 0.15);
  --popup-background: white;
  --table-background: white;
  --table-border: #ddd;
  --table-header: #f2f2f2;
  --table-hover: #d0d7d9;
  --text-black: black;
  --text-white: white;
  --card-background: white;
}

.darkmode {
  --body-background: #22272b;
  --body-text: white;
  --input-background: rgb(222, 228, 234);
  --nav-background: rgba(0, 0, 0, 0.15);
  --popup-background: #2c333a;
  --table-background: #38414a;
  --table-border: #1d2125;
  --table-header: #2c333a;
  --table-hover: #22272b;
  --card-background: #2c333a;
}

html,
body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: var(--body-background);
  color: var(--body-text);
}

#loadDateTime {
  font-size: medium;
}

#refreshIcon {
  color: var(--clickable-blue);
}

#refreshIcon:hover {
  cursor: pointer;
  color: var(--clickable-blue-hover);
}

#errText {
  color: red;
  font-size: x-large;
  text-align: center;
  margin-top: 10%;
}

#loading-spinner {
  position: fixed;
  left: 50%;
  top: 250px;
  transform: translate(-50%);
  z-index: 9999;
}

.spinner {
  border: 4px solid var(--table-border);
  border-left-color: var(--clickable-blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-background);
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px var(--table-border);
  z-index: 9999;
}

nav .left,
nav .right {
  display: flex;
  align-items: center;
  flex: 1;
}

nav .right {
  margin-right: 30px;
  justify-content: flex-end;
}

nav .left a {
  font-size: 24px;
  text-decoration: none;
  margin-right: 10px;
}

nav .left p {
  margin: 0;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.darkModeCheckbox {
  margin-right: 10px;
}

/* General card styling */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 2%;
  margin-top: 65px;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 1 1 calc(33.333% - 32px);
  max-width: calc(33.333% - 32px);
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid var(--table-border);
  border-radius: 8px;
  background-color: var(--card-background);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-height: 69vh;
  min-height: 69vh;
  overflow-y: auto;
  position: relative;
}

/* Adjust to 2 cards per row for medium-sized screens */
@media (max-width: 1400px) {
  .card {
    flex: 1 1 calc(50% - 32px);
    max-width: calc(50% - 32px);
  }
}

/* Adjust to 1 card per row for small screens */
@media (max-width: 1000px) {
  .card {
    flex: 1 1 calc(100% - 32px);
    max-width: calc(100% - 32px);
  }
  .darkModeCheckbox {
    display: none;
  }
}

/* Adjust to 1 card per row for small screens */
@media (max-width: 800px) {
  #loadDateTime {
    display: none;
  }
}

.card h3 {
  margin-top: 0;
  color: var(--body-text);
  padding-bottom: 8px;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card ul li {
  margin-bottom: 0px;
}

.card ul li strong {
  color: var(--clickable-blue);
  font-weight: bold;
}

/* Access point styling */
#access-points-list {
  margin-top: 4px;
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

#access-points-list li {
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 4px;
}

/* SmartLocks styling */

#smartlock-list li,
#events-list li {
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
  flex: 1 1 calc(32% - 16px);
  box-sizing: border-box;
}

/* Edge Router styling */
#edge-router-list {
  margin-top: 4px;
  padding-top: 8px;
}

#edgeRouterLi {
  display: flex;
  align-items: center;
}

.status-circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

#edge-router-list li {
  padding: 8px;
  background-color: #f9f9f9;
  color: black;
  border-radius: 4px;
  margin-bottom: 8px;
}

.stat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.stat-item {
  text-align: center;
  margin: 10px;
  flex: 1;
}

.stat-number {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.stat-label {
  font-size: 1em;
  color: #666;
}
.import-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border: none;
  min-height: 60vh;
  background-color: #00000000;
}

.add-button {
  font-size: 4em;
  background-color: var(--clickable-blue);
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add-button:hover {
  background-color: #0057b3b0;
  transform: translateY(-2px);
}

.add-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.import-button,
.export-button {
  font-size: 1.2em;
  background-color: var(--clickable-blue);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 130px;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.import-button:hover,
.export-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.import-button:active,
.export-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--body-background);
  margin: 8% auto;
  padding: 20px;
  border: 1px solid var(--table-border);
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  padding-bottom: 70px;
}

/* The Close Button */
.close {
  color: white;
  background: transparent;
  font-size: 20px;
  border-radius: 25%;
  background-color: rgba(255, 0, 0, 0.5);
  float: right;
  font-size: 28px;
  padding: 0px 7px;
}

.close:hover,
.close:focus {
  color: #d00000;
  cursor: pointer;
}

/* Form styling */
form label {
  display: block;
  margin: 10px 0 5px;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  margin-top: 20px;
  float: right;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #003cff;
}

.expanded-popup-container {
  width: 90%;
  height: 85%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--table-background);
  padding: 40px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.events-popup-container {
  width: 90%;
  height: 85%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--table-background);
  padding: 40px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.486);
  color: white;
  border-radius: 25%;
  border: none;
  padding: 4px 8px;
}

.table-container {
  max-height: 100%;
  overflow-y: auto;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  background-color: var(--table-background);
  max-height: 100%;
  overflow-y: auto;
}
table th,
table td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid var(--table-border);
}
table th {
  background-color: var(--table-header);
  font-weight: bold;
  position: sticky;
  z-index: 1;
  top: -5px;
}
table tbody tr:hover {
  background-color: var(--table-hover);
}
table td {
  vertical-align: middle;
}
tr:nth-child(even) {
  background-color: var(--table-header);
}

.stat-item,
#smartlockList {
  cursor: pointer;
}
#smartlocks,
#edgeRouter,
#accessPoints,
#weekly {
  margin-top: 10px;
  padding-bottom: 4px;
  color: var(--clickable-blue);
  border-bottom: 1px solid #f0f0f0;
}

#weeklyEvents {
  cursor: pointer;
}

#weeklyCollapse,
#smartlockCollapse,
#edgeRouterCollapse {
  font-size: x-large;
  color: var(--clickable-blue);
  cursor: pointer;
}

.delete-card-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  cursor: pointer;
  background-color: var(--btn-red-clear);
  color: white;
  font-size: 20px;
  border-radius: 25%;
  border: none;
  padding: 1px 6px;
}

.delete-card-btn:hover {
  transform: translateY(-2px);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.link-card-btn {
  position: absolute;
  top: 5px;
  right: 30px;
  background: transparent;
  cursor: pointer;
  background-color: var(--clickable-blue);
  color: white;
  font-size: 15px;
  border-radius: 25%;
  border: none;
  padding: 2.5px 6px;
  text-decoration: none;
}

.link-card-btn:hover {
  transform: translateY(-2px);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.bold {
  font-weight: bold;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
  margin-right: 5px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  margin-right: 5px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(10.5px);
  -ms-transform: translateX(10.5px);
  transform: translateX(10.5px);
}

body.scroll-lock {
  overflow: hidden;
}

#scroll-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#scroll-up,
#scroll-down {
  width: 40px;
  height: 40px;
  background-color: var(--clickable-blue);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#scroll-up:hover,
#scroll-down:hover {
  background-color: var(--clickable-blue);
}
