:root {
  --body-background: white;
  --body-text: black;
  --btn-green: #4caf50;
  --btn-green-hover: #45a049;
  --btn-red: red;
  --btn-red-hover: rgb(171, 0, 0);
  --btn-red-clear: #ff67677c;
  --btn-red-clear-hover: rgb(171, 0, 0);
  --btn-yellow: yellow;
  --btn-yellow-hover: rgb(192, 192, 0);
  --clickable-blue: rgb(0, 149, 255);
  --clickable-blue-hover: blue;
  --input-background: #f7f8f9;
  --nav-background: rgba(255, 255, 255, 0.15);
  --popup-background: white;
  --table-background: white;
  --table-border: #ddd;
  --table-header: #f2f2f2;
  --table-hover: #d0d7d9;
  --text-black: black;
  --text-white: white;
}

.darkmode {
  --body-background: #22272b;
  --body-text: white;
  --input-background: rgb(222, 228, 234);
  --nav-background: rgba(0, 0, 0, 0.15);
  --popup-background: #2c333a;
  --table-background: #38414a;
  --table-border: #1d2125;
  --table-header: #2c333a;
  --table-hover: #22272b;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: var(--body-background);
  color: var(--body-text);
}

#loadDateTime {
  font-size: medium;
}

#refreshIcon {
  color: var(--clickable-blue);
}

#refreshIcon:hover {
  cursor: pointer;
  color: var(--clickable-blue-hover);
}

#errText {
  color: red;
  font-size: x-large;
  text-align: center;
  margin-top: 10%;
}

#loading-spinner {
  position: fixed;
  left: 50%;
  top: 250px;
  transform: translate(-50%);
  z-index: 9999;
}

.spinner {
  border: 4px solid var(--table-border);
  border-left-color: var(--clickable-blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-background);
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0 2px 4px var(--table-border);
  z-index: 9999;
}

nav .left,
nav .right {
  display: flex;
  align-items: center;
  flex: 1;
}

nav .right {
  margin-right: 30px;
  justify-content: flex-end;
}

nav .left a {
  font-size: 24px;
  text-decoration: none;
  margin-right: 10px;
}

nav .left p {
  margin: 0;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.darkModeCheckbox {
  margin-right: 10px;
}

/* General card styling */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 2%;
  margin-top: 65px;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 1 1 calc(33.333% - 32px);
  max-width: calc(33.333% - 32px);
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-height: 69vh;
  min-height: 69vh;
  overflow-y: auto;
  position: relative;
}

/* Adjust to 2 cards per row for medium-sized screens */
@media (max-width: 1400px) {
  .card {
    flex: 1 1 calc(50% - 32px);
    max-width: calc(50% - 32px);
  }
}

/* Adjust to 1 card per row for small screens */
@media (max-width: 1000px) {
  .card {
    flex: 1 1 calc(100% - 32px);
    max-width: calc(100% - 32px);
  }
}

/* Adjust to 1 card per row for small screens */
@media (max-width: 800px) {
  #loadDateTime {
    display: none;
  }
}

.card h3 {
  margin-top: 0;
  color: #333;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 8px;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card ul li {
  margin-bottom: 0px;
}

.card ul li strong {
  color: #007bff;
}

/* Access point styling */
#access-points-list {
  margin-top: 4px;
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

#access-points-list li {
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 4px;
}

/* SmartLocks styling */

#smartlock-list li {
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

/* Edge Router styling */
#edge-router-list {
  margin-top: 4px;
  padding-top: 8px;
}

#edgeRouterLi {
  display: flex;
  align-items: center;
}

.status-circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

#edge-router-list li {
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 8px;
}

.stat-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.stat-item {
  text-align: center;
  margin: 10px;
  flex: 1;
}

.stat-number {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.stat-label {
  font-size: 1em;
  color: #666;
}
.import-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border: none;
  min-height: 60vh;
}

.add-button {
  font-size: 4em;
  background-color: #007bff5e;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add-button:hover {
  background-color: #0057b3b0;
  transform: translateY(-2px);
}

.add-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.import-button,
.export-button {
  font-size: 1.2em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 130px;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.import-button:hover,
.export-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.import-button:active,
.export-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  padding-bottom: 70px;
}

/* The Close Button */
.close {
  color: white;
  background: transparent;
  font-size: 20px;
  border-radius: 25%;
  background-color: rgba(255, 0, 0, 0.5);
  float: right;
  font-size: 28px;
  padding: 0px 6px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #d00000;
  cursor: pointer;
}

/* Form styling */
form label {
  display: block;
  margin: 10px 0 5px;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  margin-top: 20px;
  float: right;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #003cff;
}

.expanded-popup-container {
  width: 90%;
  height: 85%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 40px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.486);
  color: white;
  border-radius: 25%;
  border: none;
  padding: 4px 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  background-color: white;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background: #d0d7d9;
}

#error,
#warning,
#okay,
#smartlocks,
#offline,
#low-battery,
#low-signal {
  cursor: pointer;
}
#smartlocks,
#edgeRouter,
#accessPoints {
  margin-top: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid #f0f0f0;
}

.delete-card-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  border-radius: 25%;
  border: none;
  padding: 1px 6px;
}

.delete-card-btn:hover {
  color: #d00000;
}

.link-card-btn {
  position: absolute;
  top: 5px;
  right: 30px;
  background: transparent;
  cursor: pointer;
  background-color: #007bff81;
  color: white;
  font-size: 15px;
  border-radius: 25%;
  border: none;
  padding: 2.5px 6px;
  text-decoration: none;
}

.link-card-btn:hover {
  color: #000000;
}

.bold {
  font-weight: bold;
}
